*.[oa]
*.in
*.log
aclocal.m4
autom4te.cache/
common/.deps/
*.swp
config.status
depcomp
install-sh
stamp-h1
test/.deps/
test/log/
test/testhiredis
test/testtcpclient
test/testtcpserver
missing
Makefile
configure
queryd/queryd
*.deps
queryd/log/
queryd/querydclient
casd/casd
casd/log/
